{% include 'sitio/cabecera.html' %}

  <!-- HERO HEADER -->
  <header class="container-fluid">
    <div class="container">
      <h1>BIENVENIDOS A MOTORIZED LOVE</h1>
      <p>
        Explora la historia, tecnología y rendimiento de las motocicletas más emblemáticas del mundo.
        Sin ventas, solo información y pasión por las motos.
      </p>
    </div>
  </header>








<main class="container my-5">


  <hr>

  <!-- Tarjetas de motos -->
  <div class="row g-4 mt-4">
    <div class="col-md-4">
      <div class="card shadow-sm border-0">
        <img src="{{ url_for('static', filename='/img/YAMAHA YZF-R6.jpg') }}" 
             class="card-img-top" alt="Yamaha R6">
        <div class="card-body">
          <h5 class="fw-bold text-primary">Yamaha YZF-R6</h5>
          <p class="text-muted small">Cilindraje: 600cc | Potencia: 120HP | Peso: 190kg</p>
          <a href="#" class="btn btn-outline-primary btn-sm">Ver más</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm border-0">
        <img src="https://cdn.pixabay.com/photo/2016/11/29/12/53/motorbike-1867036_1280.jpg" 
             class="card-img-top" alt="Honda CBR">
        <div class="card-body">
          <h5 class="fw-bold text-primary">Honda CBR600RR</h5>
          <p class="text-muted small">Cilindraje: 599cc | Potencia: 118HP | Peso: 186kg</p>
          <a href="#" class="btn btn-outline-primary btn-sm">Ver más</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm border-0">
        <img src="https://cdn.pixabay.com/photo/2020/02/09/16/06/bmw-4829867_1280.jpg" 
             class="card-img-top" alt="BMW S1000RR">
        <div class="card-body">
          <h5 class="fw-bold text-primary">BMW S1000RR</h5>
          <p class="text-muted small">Cilindraje: 999cc | Potencia: 205HP | Peso: 197kg</p>
          <a href="#" class="btn btn-outline-primary btn-sm">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</main>




{% include 'sitio/pie.html' %}

    